doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="SEO Description")
        title Document
        link(rel="stylesheet", href="css/inline.css")
    body
        .global__wrapper
            //======================================================================
            //================================= header =============================
            //======================================================================
            section.header
                .container
                    .header__hamburger
            //======================================================================
            //============================= END header =============================
            //======================================================================

            //======================================================================
            //================================= mobile__nav ========================
            //======================================================================
            section.mobile__nav
                .mobile__nav__links
                    a.mobile__nav__link Главная
                    a.mobile__nav__link Личный кабинет
                    a.mobile__nav__link Администратор
                    a.mobile__nav__link Специалисты
                    a.mobile__nav__link База вопросов
                    a.mobile__nav__link Тесты
                    a.mobile__nav__link Результаты
            //======================================================================
            //============================ END mobile__nav =========================
            //======================================================================
            block content
            //======================================================================
            //================================= footer =============================
            //======================================================================
            section.footer
            //======================================================================
            //============================= END footer =============================
            //======================================================================
        link(rel="stylesheet", href="css/main.css")
        script(src="js/main.js")